<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Hello, world!</title>
  </head>
  <body>
        <table class="table">
            <tr>
                <td>First Name</td>
                <td>{{customer_name}}</td>
            </tr>
            <tr>
                <td>Sitting Type</td>
                <td>{{sitting_type}}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{time}}</td>
            </tr>
            <tr>
                <td>Services</td>
                <td>{{services}}</td>
            </tr>
            <tr>
                <td>How Did You Hear About Us</td>
                <td>{{how_did_you_hear_about_us}}</td>
            </tr>

        </table>
  </body>
</html>